<!-- Donate -->
<section class="bg-light page-section" id="donate">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{% t donate.title %}</h2>
              <h3 class="section-subheading text-muted">{% t donate.text %}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
			<!--h4 class="section-heading text-muted">Cryptocurrency</h4-->
			<div class="row">
				<div class="col-lg-4 text-center">
					<img alt="btc" border="0" src="/assets/img/btc.png" width="50" height="50">BTC
					<pre>1KiZVDNmUzQXwswnfzqMyxNJwE3yzNLLme</pre>
					<img alt="ltc" border="0" src="/assets/img/btc_wallet.png" width="50%" height="auto">
				</div>
				<div class="col-lg-4 text-center">
					<img alt="eth" border="0" src="/assets/img/eth.png" width="50" height="50">ETH
					<pre>0xa0e315411235E550756eA6b46D347bC8eBA230fa</pre>
					<img alt="ltc" border="0" src="/assets/img/eth_wallet.png" width="50%" height="auto">
				</div>
				<div class="col-lg-4 text-center">
					<img alt="ltc" border="0" src="/assets/img/ltc.png" width="50" height="50"> LTC
					<pre>MBgNExpYsxAgUnKXofwEnu4n6iSiVs31UP</pre>
					<img alt="ltc" border="0" src="/assets/img/ltc_wallet.png" width="50%" height="auto">
				</div>
			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
			</br>
			<!--h4 class="section-heading text-muted"></br>PayPal</br></h4-->
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations" />
                <input type="hidden" name="business" value="smartynback@gmail.com" />
                <input type="hidden" name="currency_code" value="USD" />

                <!-- EN -->
                {% if site.lang == "en" %}
                <input type="hidden" name="item_name" value="Help support the development of Smarty N-Back" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                {% endif %}
                <!-- ES -->
                {% if site.lang == "es" %}
                <input type="hidden" name="item_name" value="Contribuye con el equipo de Smarty N-Back" />
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donar con el botón PayPal" />
                <img alt="" border="0" src="https://www.paypal.com/es_US/i/scr/pixel.gif" width="1" height="1" />
                {% endif %}
                <!-- CN -->
                {% if site.lang == "cn" %}
                <input type="hidden" name="item_name" value="請幫助支持Smarty N-Back的開發。" />
                <input type="image" src="https://www.paypalobjects.com/zh_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="使用PayPal按钮进行捐赠" />
                <img alt="" border="0" src="https://www.paypal.com/zh_US/i/scr/pixel.gif" width="1" height="1" />
                {% endif %}
            </form>
        </div>
      </div>
</section>
<!-- End Donate -->